<!DOCTYPE html>
<html>
    <head>
        <title>Account Verified</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tourney:wght@100;500;900&display=swap" rel="stylesheet">
        <style>
            body {
                box-sizing: border-box;
                background-color: #231E1C;
                width: 100vw;
                height: 100vh;
                margin: 0;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            *, p {
                font-family: "Inter";
                font-weight: 400;
                color: white;
            }

            a.btn {
                width: 100%;
                max-width: 150px;
                height: 40px;
                border-radius: 5px;
                background-color: #FD7753;
                color: white;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                text-decoration: none;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            a.btn:hover {
                background-color: rgb(255, 137, 105);
            }
        </style>
    </head>
    <body>
        <p>Account verified successfully!</p>
        <a class="btn" href="http://localhost:8000/signup">Go Home</a>
    </body>
</html>