.navbar-page-content-container.three .chat-container .msg-container .single-message-container {
    width: fit-content;
    height: fit-content;
    min-width: 185px;
    max-width: 50%;
    margin-bottom: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area {
    width: fit-content;
    height: fit-content;
    min-width: 160px;
    border-radius: 5px;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .transparent-area {
    opacity: 0;
    min-width: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.left .transparent-area {
    align-items: flex-end;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.right .transparent-area {
    align-items: flex-start;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .transparent-area .icon {
    font-size: 16px;
    color: rgb(255, 255, 255, 0.3);
    margin-bottom: 8px;
    cursor: pointer;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container:hover .transparent-area {
    opacity: 1;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .transparent-area .icon:hover {
    color: rgb(255, 255, 255, 0.5);
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.left .opaque-area {
    background-color: #363231;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.left.deleted .opaque-area {
    background-color: rgb(54, 50, 49, 0.5);
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.left {
    margin-left: 20px;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.right {
    margin-left: auto;
    margin-right: 20px;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.right .opaque-area {
    background-color: #4E2D25;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.right.deleted .opaque-area {
    background-color: rgb(78, 45, 37, 0.5);
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area .msg-area {
    min-height: 40px;
    max-height: fit-content;
    
    word-break: break-all;
    background-color: transparent;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    font-weight: 400;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container.deleted .opaque-area .msg-area {
    color: rgb(255, 255, 255, 0.5);
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area .details-area {
    background-color: transparent;
    height: 30px;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    width: 100%;
    padding: 0 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area .details-area .name {
    font-weight: 500;
    font-size: 10px;
    color: rgb(255, 255, 255, 0.5);
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 85px);
    text-wrap: nowrap;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area .details-area .date {
    font-weight: 300;
    font-size: 10px;
    color: rgb(255, 255, 255, 0.3);
    max-width: 50px;
    text-align: right;
}

.navbar-page-content-container.three .chat-container .msg-container .single-message-container .opaque-area .details-area .time {
    font-weight: 500;
    font-size: 10px;
    color: rgb(255, 255, 255, 0.3);
    width: 32px;
    text-align: right;
}

@media (max-width:950px) {
    .navbar-page-content-container.three .chat-container .msg-container .single-message-container {
        max-width: 90%;
    }
}

@media (max-width:800px) {
    .navbar-page-content-container.three .chat-container .msg-container .single-message-container {
        max-width: 50%;
    }
}

@media (max-width:700px) {
    .navbar-page-content-container.three .chat-container .msg-container .single-message-container {
        max-width: 90%;
    }
}