
a.sec-but {
    text-decoration: none;
}

.sec-but {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #FD7753;
    color: #FD7753;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-but.disabled {
    border-color: rgb(255, 255, 255, 0.5);
    color: rgb(255, 255, 255, 0.5);
    cursor: wait;
}

.sec-but:not(.disabled):hover {
    background-color: rgb(255, 255, 255, 0.02);
}

.sec-but:not(.disabled):active {
    background-color: rgb(255, 255, 255, 0.05);
}