#root {
    overflow: hidden;
}

.navbar-page-content-container.three {
    padding: 0;
    background-color: #231E1C;
    /* background-color: #1a1717; */
    width: calc(100% - 300px - 200px);
    min-height: 100vh;
}

.content .right-container {
    width: 300px;
    min-height: 100vh;
    background-color: #2E2A29;
    border-left: 1.5px solid #171514;

    display: flex;
    justify-content: flex-start;
}

.content .right-container .swiper-container {
    width: 30px;
    min-height: 100vh;
    background-color: #3b3735;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content .right-container .swiper-container:hover {
    background-color: #4a4341;
}

.content .right-container .swiper-container:hover .icon {
    opacity: 0.8;
}

.content .right-container .swiper-container:active {
    background-color: #514a48;
}

.content .right-container .swiper-container .icon {
    font-size: 22px;
    color: #fff;
    opacity: 0.5;
}

.content .right-container .content-container, .content .right-container .loading-content-container {
    width: 100%;
    min-height: 100vh;
    background-color: #2E2A29;
    overflow-x: hidden;
}

.navbar-page-container > .content > .navbar-container {
    border-right: 1.5px solid #171514;
}

.navbar-page-content-container.three .empty-selected-container {
    min-height: 100%;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-page-content-container.three .empty-selected-container .logo {
    width: 200px;
}

.navbar-page-content-container.three .empty-selected-container .text {
    font-size: 14px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    color: rgb(255, 255, 255, 0.3);
    margin-top: 10px;
}

.navbar-page-content-container.three .empty-selected-container .text span {
    color: rgb(255, 255, 255, 0.3);
    font-size: 32px;
    font-weight: 100;
}

.navbar-page-content-container.three .empty-selected-container .loading-icon {
    color: rgb(255, 255, 255, 0.5);
    font-size: 32px;
    font-weight: 100;
    margin-top: 30px;
}

.navbar-page-content-container.three .top-area {
    width: 100%;
    min-height: 70px;
    background-color: #2E2A29;
    border-bottom: 1.5px solid #171514;
    padding: 0 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navbar-page-content-container.three .top-area .room-name {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.navbar-page-content-container.three .top-area .room-name:hover {
    text-decoration: underline;
}

.navbar-page-content-container.three .top-area .room-description {
    color: rgb(255, 255, 255, 0.3);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 13px;
    width: 100%;
}

.navbar-page-content-container.three .chat-container {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    background-color: transparent;
    z-index: 0;
    background: url("../images/chat-bg-dim.png");
    background-size: 50%;
    background-repeat: repeat;
}

.navbar-page-content-container.three .chat-container .msg-container {
    background: transparent;
    height: calc(100% - 70px);
    overflow: auto;
    padding: 10px 20px;
}

.navbar-page-content-container.three .chat-container .msg-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.navbar-page-content-container.three .chat-container .msg-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.navbar-page-content-container.three .chat-container .send-msg-here-container {
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box {
    width: calc(100% - 60px);
    height: 50px;
    background-color: #2E2A29;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box input {
    width: calc(100% - 50px);
    background-color: #2E2A29;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.8);
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box .send-icon-container {
    width: 50px;
    background-color: #FD7753;
    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box .send-icon-container .icon {
    font-size: 24px;
    color: #fff;
    transition: transform 0.2s;
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box .send-icon-container:hover .icon {
    transform: translateX(2px) translateY(-2px);
}

.navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box .send-icon-container:active {
    opacity: 0.9;
}

@media (max-width:1000px) {
    .navbar-page-content-container.three {
        width: calc(100% - 200px - 30px);
    }
    .content .right-container {
        position: absolute;
        z-index: 1;
        top: 0;
        border-color: rgb(255, 255, 255, 0.5);
        transition: width 1s;
    }
    .content .right-container.close {
        right: 0;
        width: 30px;
    }
    .content .right-container.open {
        right: 0;
        width: 330px;
    }
    
    .content .right-container .swiper-container {
        display: flex;
    }

    .content .right-container .content-container {
        width: calc(100% - 30px);
    }
}

@media (max-width:800px) {
    .navbar-page-content-container {
        padding: 20px 15px;
    }
    .navbar-page-content-container.three {
        width: calc(100% - 30px);
        min-height: calc(100vh - 60px);
    }
    .content .right-container {
        top: 0;
    }
    .navbar-page-content-container.three .chat-container {
        height: calc(100vh - 130px);
    }
}

@media (max-width:500px) {
    .navbar-page-content-container.three .chat-container .msg-container {
        height: calc(100% - 50px);
    }

    .navbar-page-content-container.three .chat-container .send-msg-here-container {
        height: 50px;
    }
    
    .navbar-page-content-container.three .chat-container .send-msg-here-container .send-msg-here-box {
        width: 100%;
        border-radius: 0;
    }
}