body {
    overflow-x: hidden;
}

#root {
    overflow: hidden;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.signup-page > .container {
    width: 1000px;
    min-height: 600px;
    height: 600px;
    background-color: #231E1C;
    margin: 20px 0;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page > .container > .left-content {
    width: 499px;
    min-height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content > .logo-container {
    margin-bottom: 20px;
}

.left-content > p.text {
    font-size: 14px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    color: rgb(255, 255, 255, 0.7);
}

.left-content > p.text > span {
    color: rgb(255, 255, 255, 0.5);
    font-size: 32px;
    font-weight: 100;
}

.left-content > p {
    font-weight: 400;
    color: rgb(255, 255, 255, 0.8);
    font-size: 14px;
}

.signup-page > .container > .right-content {
    width: 499px;
    min-height: 100%;
    padding: 0 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-page > .container > .right-content > .textfield-container:not(:first-of-type) {
    margin-top: 25px;
}

.signup-page > .container > .right-content > .pri-but {
    margin-top: 35px;
}

.right-content > .logo-container {
    display: none;
    margin-bottom: 20px;
    margin-top: 50px;
}

.right-content > .bottom-textlink-container {
    display: none;
    margin-bottom: 50px;
    margin-top: 30px;
}

.signup-page > .container > .separator {
    width: 2px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 1px;
}

@media (max-width: 1000px) {
    .signup-page > .container > .left-content, .signup-page > .container > .separator {
        display: none;
    }
    .signup-page > .container {
        width: 499px;
        height: fit-content;
    }
    .right-content > .logo-container {
        display: block;
    }
    .signup-page > .container > .right-content {
        padding: 0 20px 10px;
    }
    .right-content > .bottom-textlink-container {
        display: flex;
    }
}

@media (max-width: 500px) {
    .signup-page > .container {
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    .right-content > .logo-container {
        margin-top: 30px;
    }
}